{% extends "base.html" %}

{% block content%}
<div class="container">
    <header><h2>Create Alert</h2></header>
    <section class="create_alert_form">
        <form method="post">
            <div class="form-group">
                <label for="item_name">item name</label>
                <input name="item_name" id="item_name" type="text"  class="form-control"/>
            </div>
            <div class="form-group">
                <label for="item_url">item_url</label>
                <input name="item_url" id="item_url" type="text"  class="form-control"/>
            </div>

            <div >
                <label for="price_limit">price limit</label>
                <input name="price_limit" id="price_limit" type="text" aria-describedby="tagNameHelp" class="form-control"/>
                <small id="tagNameHelp">
                    enter the price limit of the item you want to get notified
                </small>
            </div>
            <div class="w-25 p-3" style=""></div>
            <button type="submit" class="btn btn-success">Create</button>
            <div>
                {{ text }}
            </div>

        </form>
    </section>

</div>
{% endblock %}